@import '../../node_modules/normalize.css/normalize';

@import 'mixins';
@import 'variables';
@import 'base';

html.embedded, html {
  // Applied when embedded using Pym.js
  font-size: 10px;
}

body {
  // This helps Pym.js more more accurately measure our <body>
  &:before,
  &:after {
    content: " ";
    display: table;
  }
}


// Your styles go here
#map {
  width: 100%;
  height: 400px;
  background-color: gray;
  @media screen and (max-width: 600px) {
      height: 400px;
  }
}

.credit {
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-bottom: 0;
  text-align: right;
}

.mapboxgl-ctrl-attrib {
  display:none !important;
  visibility:hidden
}
@media (max-width: 400px) {
  .mapboxgl-popup {
    max-width: 230px;
  }
}

.mapboxgl-popup-content {
  font-family:"Gotham A","Gotham B",Arial,sans-serif;
  max-width:275px;
  padding:10px
}

.mapboxgl-popup-content h6 {
  margin: 0 0 .5rem 0;
  font-size: 2.1rem;
  padding-right: 1rem;
}

.mapboxgl-popup-content p {
  font-size: 1.3rem;
  margin: 0 0 .5rem 0;
  line-height: 1.5rem;
}

.mapboxgl-popup-content a:link, a:visited{
  text-decoration: none;
  color: #0185d3;
}

.mapboxgl-popup-content a:hover {
  text-decoration:underline;
}

.mapboxgl-popup-content .address {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.2rem;
}
