@import '../../node_modules/normalize.css/normalize';

@import 'mixins';
@import 'variables';
@import 'base';

html {
  // Applied when embedded using Pym.js
  font-size: 10px;
}

body {
  // This helps Pym.js more more accurately measure our <body>
  &:before,
  &:after {
    content: " ";
    display: table;
  }
}


#map {
  width: 100%;
  height: 400px;
  background-color: gray;
}

.credit {
  font-size: 1.1rem;
  line-height: 1.5rem;
  margin-bottom: 0;
  text-align: right;
  margin-top: 3px;
}

img {
  width: 100%;
  margin-bottom: 0;
}

.mapboxgl-ctrl-attrib {
  display:none !important;
  visibility:hidden
}

@media (max-width: 450px) {
  .mapboxgl-popup {
    max-width: 210px;
  }
}

.mapboxgl-popup-content {
  font-family:"Gotham A","Gotham B",Arial,sans-serif;
  width:250px;
  padding:10px 10px 0 !important;
}

.mapboxgl-popup-close-button {
  font-size: 1.6rem;
  position: relative;
  z-index: 10;
  background-color: white !important;
}

.mapboxgl-popup-content h6 {
  margin: 0 0 .5rem 0;
  font-size: 1.6rem;
  padding-right: 1rem;
}

.mapboxgl-popup-content p {
  font-size: 1.3rem;
  margin: 0 0 .5rem 0;
  line-height: 1.5rem;
  //&:last-of-type { margin-bottom: 0;}
}

.mapboxgl-popup-content a:link, a:visited{
  text-decoration: none;
  color: #0185d3;
}

.mapboxgl-popup-content a:hover {
  text-decoration:underline;
}

.mapcontent {
  position: relative;
}

.maptext {
  position: absolute;
  padding: 5px;
  bottom: 0px;
  width: 100%;
  background-color: rgba(255,255,255, .9);
}

//bye bye dropdown styles
.hidden {
  display: none;
}

#captions {
  padding-left: 0;
  font-size: 1.5rem;
  li {
    list-style-type: none;
    margin-bottom: 25px;
  }
}

#nav {
  width: 100%;
  position: relative;
}

#nav > button {
  backgorund-color: $dmnblue;
  border: none;
  width: 120px;
}

#nav > p {
  padding: 4px 0;
  text-align: center;
  font-weight: bold;
  position: absolute;
  width: 46px;
  left: 50%;
  margin-left: -23px;
  font-size: 1.2rem;
}

.btn {
  background: $dmnblue;
  color: white;
  font-weight: bold;
  padding: 6px 12px;
  text-decoration: none;
  font-size: 1.3em;
  display: inline-block;
  cursor: pointer;
}

.btn-previous {
  float: left;
}

.btn-next {
  float: right;
}

.btn-disabled {
  display: none;
}

.legend {
  display: inline17;
  font-size: 1.4rem;
  padding-left: 0;
  li {
    @include type(1.4rem, 1.8rem, .6rem);
    padding: 0 5px 0 14px;
    position: relative;
    display: inline-block;
    margin-right: 5px;
    &:before {
      content: "";
      display: block;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      position: absolute;
      top: 2.5px;
      left: 0;
    }
  }
}

#d1960s:before {background-color: #08306b;}
#d1970s:before {background-color: #2171b5;}
#d1980s:before {background-color: #6baed6;}
#d2010s:before {background-color: #9ecae1;}
